*{
    margin: 0px;
    padding: 0px;
}

*{
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.nav-container{
    
}
.nav{
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    padding: 40px 130px;
    height: 0px;
    }
.menu{
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
}
.logo-g{
    color: #FF42A5;
   
}
.nav .logo{
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
}
.nav .logo h3 {
margin-left: 20px;
font-size: 30px;
}
 ul li img{
width: 30px;
margin-left: 10px;

} 
.menu ul li {
    display:inline-flex ;
    margin-right: 20px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
}
.menu ul li{
    list-style: none;
}
.menu ul li:last-child{
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 8px 12px;
}
/* nav-menu section end */
/* ------------------------------- */
/* banner section start */
.banner-section{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    padding: 0px 130px;
    height: 500px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    

}
.banner-content h3{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner-content h1 {
    
    font-family: Work Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content p{
color: #534C64;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
margin-bottom: 4px;

}
.banner-image img{
 width: 100%;
 height: 100%;

}

.sign-button{
    padding: 12px 30px;
    color: white;
    background-color: #FF42A5;
    border: none;
    border-radius: 30px;
   margin-top: 20px;
}
.go-rogue-button{
    padding: 12px 25px;
    color: white;
    background-color:#4EC5F7;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}
.we-are-gammer{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
    padding: 55px 130px;
    height: 400px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.gammer-image img{
    width: 560px;
    height:480px;
}
.gammer-content{
text-align: right;
}
.gammer-content-para{
  line-height:1.8 ;
}
.unleash{
    color: #534C64;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}
.gammer-content h2{
    
text-align: right;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 15px;
}
.gammer-btn{
    padding: 12px 25px;
    color: white;
    background-color: #FF42A5;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* online gaming video section start  */
.online-game-section-container{
    height: 500px;
    padding: 0px 130px;
}
.online-game-section .online-section-title .online-section-description{
    text-align: center;
    align-content: center;
    align-items: center;
}
.funny-videos{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 38px;
font-weight: 700;
}
.online-section-title{
color: #0B0223;
font-family: Work Sans;
font-size: 38px;
font-weight: 700;
margin-bottom: 7px;
}
.online-section-description{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.card-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content:space-between;
}
.card{
    width: 230px;
    height: 180px;
}
.card p{
    margin-top: 7px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.card img {
    border-radius: 5px;
    width: 100%;
    height: 250px;
    
}
.card img:hover{
  
}
.online-game-section{
    padding: 0px 130px;
    text-align: center;
}

/* play-instantly-section-container */
.play-instant-section{
    padding: 0px 130px;
}
.play-instantly-section-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.play-instantly-content{
    width: 50%;
    text-align: end;
    
}
.play-instantly-content p{
margin-top: 15px;
line-height: 25px;
}
.play-content-title{
    font-size: 38px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.no-download{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}

.play-instantly-image img{
    width:350px;
    height: 350px;
}

.instantly-relative-image img{
    height: 200px;
    margin-bottom: 50px;
   
}

.play-instantly-image .instantly-relative-image img{
    height: 45%;
    width: 45%;
   position: relative;
   align-items: left;
   align-content: start;
   text-align: start;
   justify-content: left;
   justify-items: start;
   margin-top: -140px;
   margin-left: -80px;
   
}

/* career section star */
.career-container{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    height: 600;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 0px 130px;
    
}
.career-section-right img{
    width: 550px;
    height: 100%;
}
.left-list{
    text-align: left;
    width: 50%;

}
.career-section-left{
    color: white;
    text-align: left;
}
.career-section-left h1{
color: #FFF;
font-family: Work Sans;
font-size: 38px;
line-height: 60px;
}

.career-section-left .description{
    color: #FFF;
    font-size: 15px;
    line-height: 25px;
    font-style: normal;
    margin-bottom: 20px;
}
.right-list{
    text-align: right;
    height: 100%;
    width: 70%;
    color: #FFF;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


.left-list{
    width: 100%;
    color: #FFF;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.career-list{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    
}
.career-list ul li{
 list-style: none;
 margin-bottom: 20px;
}
.career-btn{
    padding: 12px 25px;
    color:#FF42A5;
    background-color:white;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
}

/* avdenture section start */
.adventure-card{
    border-radius: 50px;
    width: 200px;
    height: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: white;
}
.adventure-card p{

    color: #0B0223;
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
}
.adventure-card:hover {
    border:1.5px solid #FF42A5;
    border-radius: 50px;
    
}
.adventure-card p:hover{
    color: #FF42A5;
}
.adventure-card img{
    width: 40px;
   
   
}
.adventure-section-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    justify-items: center;
    height: 280px;
    padding: 20px 130px;
    background-color:rgb(252, 249, 249);
}

/* footer section */
.footer-container{
    background-color:black;
    color: white;
    height: 400px;
}


.footer-content-container1{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-menus{
    display: flex;
    text-align: center;
    justify-content: center;
}


.footer-image img{
   
    width: 100%px;
    height: 40px;
    
}
.footer-menus-image{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.footer-content-container2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-logo{
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 30px;

}
.footer-menus{
    padding-bottom:30px ;
    gap: 30px;
}
.footer-menus .footer-menu{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.footer-menus-last-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500px;
}
.footer-copyright{
    padding-top: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
 
}




